.editorconfig
.env
.env.development
.env.production
.env.test
.eslintrc.js
.eslintrc.json
.gitattributes
.gitignore
.prettier
.prettierrc
.python_packages/
.secrets
.scannerwork
.venv
.vs

.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.user
*.suo
*.cscfg
*.Cache

env/
venv/
ENV/
env.bak/
venv.bak/

bin
csx
dist
node_modules
obj
Publish

appsettings.json
local.settings.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data

__*